body {
  background-image: url(../Imágenes/Restaurante.jpg);
  background-image: no-repeat;
  background-image: center;
  color: coral;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 40;
  align-items: center;
  display: block;
  text-align: center;
}


.nav-item1 a {
  display: inline-flex !important;
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 250px;
  font-size: 20px;
  font-style: italic;
  float: right;
  color:green;
  margin-right: auto;
  padding: 12px 14px;
  background-color: white;
}

table {
  float: right;
  text-align: center;
  border: 1px solid #000;
}

th, td {
   width: 25%;
   text-align: center;
   vertical-align: top;
   border: 1px solid #000;
}
